*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    display: flex;

}

.cronometer{
    display: flex;
    width: 20vw;
    height: 30vh;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid black;
}

